*
{
    margin: 0;
    padding: 0;
}
.scrhead
{
    font-family: 'Cabin Sketch', cursive;
}
input[type=number]
{
    border-radius: 20px;
    border: 1px solid rebeccapurple;
    text-align: center;
}
